
<div class="d-flex justify-content-between p-3 bg-light">
  <a href="" class="p-2 bg-danger rounded" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"><i class="fa fa-th-list fa-1x text-white" aria-hidden="true"></i></a>
  <h4 class="text-danger"><i class="fa fa-user-circle-o"></i> IndiGo Avi</h4>
  <a href="https://www.google.com/" class="p-2 bg-danger rounded" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"><i class="fa fa-power-off fa-1x text-white" aria-hidden="true"></i></a>
</div>

<div class="offcanvas offcanvas-start " data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Admin Panel</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body " >
    <ul class="list-unstyled  p-2">
      <li class="border border-bottom py-2"><a href="" class="px-2 text-decoration-none text-danger" routerLink="/Result">Interview status</a></li>
      <li class="border border-bottom py-2"><a href="" class="px-2 text-decoration-none text-danger" routerLink="/Job_Application">Apply Form</a></li>
      <li class="border border-bottom py-2"><a href="" class="px-2 text-decoration-none text-danger" routerLink="/contact-form">Contact Form</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>